
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-share:before { content: '\f1e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
