.bk_cont_banner{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/im5.jpg");
    /*Los dos puntos es para que el nav tenga que salir de la carpeta css*/

}

/*Son el contenedor del titulo y el parrafo. */
.bk_sobra{
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 20px;
    width: 80%;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    margin: auto;
}

.bk_sobra hr{
    border-top: 1px solid #fff;
}

.bk_sobra h1{
    font-size: 8vw;
    margin-bottom: 10px;
}

.bk_sobra p{
    font-size: 4vw;
    margin-bottom: 10px;
}

/*Son el contenedor de los link. */
.bk_cont_banner_link{
    margin: 15px;
    position: relative;
}

.bk_cont_banner_link a{
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 1px;
    margin-bottom: 5px;
    width: 150px;
}

/*Esto es un EVENTO que sucede al mover elcursor sobre el boton*/
.bk_cont_banner_link a:hover{
    background-color: #fff;
    color: #111;
}

/*El que tenga esta clase tendra animacion*/
.bk_banner_link{
    opacity: 0;
    animation: bk_keyframe_appear_top 1s;
    -webkit-keyframes: bk_keyframe_appear_top 1s;
    animation-fill-mode: forwards;
}

.bk_banner_link_1{
    opacity: 0;
    animation: bk_keyframe_appear_top 1s;
    -webkit-keyframes: bk_keyframe_appear_top 1s;
    animation-fill-mode: forwards;
    animation-delay: 0.5;
}

.bk_banner_link_2{
    opacity: 0;
    animation: bk_keyframe_appear_top 1s;
    -webkit-keyframes: bk_keyframe_appear_top 1s;
    animation-fill-mode: forwards;
    animation-delay: 1;
}

.bk_serv a{
color: #111;
text-decoration: none;
background-color: #fff;
}

.bk_cont_img{
    padding: 5%;
}

.bk_navbar{
    background-color: rgba(255,255,255,0.7) !important;
}

.bar_navbar div, .bar_navbar ul{
    background-color: transparent !important;
}



bk_video{
    text-align: left;
}