*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cormorant Garamond', serif;
}

.bk_cont_sec_1{
    padding: 10%;
}

.bk_cont_sec_1_link{
    padding: 5%;
}

.bk_cont_sec_1_link a{
    width: 200px;
}

.bk_cont_sec_1_link hr{
    border-top: 1px solid rgba(1, 1, 1, 0.7);
}

.bk_cont_banner_sec_3{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../img/im2.jpg");
    position: relative;
    padding: 10%;
    margin-top: 50%;
    margin-bottom: 50%;
}

.bk_cont_banner_sec_3 .row{
    background-color: rgba(1, 1, 1, 0.7);
    color: #fff;
    padding: 2%;
}

.bk_cont_footer{
    background-color: rgba(1, 1, 1, 0.7);
    padding: 10%;
    color: #fff;
    margin-top: 100%;
}

.bk_cont_footer a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.bk_cont_img_footer{
    padding: 5%;
}